
          
        
      
    
  
  
    
      
        
          
            
              
            
          
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <tbody>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.with_tax_price.to_s(:delimited) %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.subtotal.to_s(:delimited) %></td>
            </tbody>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>