<div class=container>
<div class="row">
   <div class="col-md-12">
	<div class="d-flex align-items-center justify-content-center">

<h1>About</h1>
 </div>
    </div>
    </div>
    <div class="row">
   <div class="col-md-12">
	<div class="d-flex align-items-center justify-content-center">
<h4>
ながのCAKEは全国発送可能なケーキ屋さんです。<br>
お子様からお年寄りの方までお召し上がりいただけるよう、<br>
様々なバリエーションをご用意しております。<br>
また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
ぜひご注文ください。<br>
</h4>
</div>
    </div>
    </div>
    </div>

   <div class="row">
   <div class="col-md-12">
	<div class="d-flex align-items-center justify-content-center">
        <img src="assets/cake.jpg" class="img-thumbnail" style="width:50%">
    </div>
    </div>
    </div>