<% provide(:title, "ジャンル編集") %>
<h2 class="head-line title_h2 text-center" >ジャンル編集</h2>

  <% if @genre.errors.any? %>
    <%= render "layouts/error_messages", resource: @genre %>
  <% end %>
  <%= form_for @genre, :url => {:action => :update} do |f| %>
  <% end %>
<br>
  <div class="col-xs-12">
    <%= link_to "戻る", admin_genres_path, class: "glyphicon glyphicon-home btn btn-info" %>
  </div>