  <div class="product-container">

      <%= link_to item_path(item.id), class: "btn-link", :style=>"color:#0099FF;" do %>
      <div id="img_field" class="product">
         <%= image_tag item.image, size: "200x200" %>
      </div>
      <p class="products-name">
        <%= item.name %>
      </p>
      <% end %>
    <% if item.is_active == true %>
      <p>¥<%= item.price.to_s(:delimited) %></p>
    <% elsif item.is_active == false %>
      <p class="soldout">売り切れ中</p>
    <% end %>
  </div>
