<div class="container">
<% provide(:title, "商品一覧") %>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h2 class="product-headline head-line title_h2 text-center">
		商品一覧
		<span>
			(全 <%= @items.count %>件)
		</span>
		</h2>
		</div>
</div>
		<div class="row justify-content-center">
				<% @items.each do |item| %>
				<div class="one-post">
				  <%= render "item_each", item: item %>
				  </div>
				<% end %>
			</div>
			<div class="text-center"><%= paginate(@items) %></div>
	    </div>
    </div>
</div>