<footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>© All rights reserved by Webnopu-.</p>
        <%= link_to "管理者の方はこちら", "/admin/sign_in" %>
    	</div>
    </div>
  </div>
</footer>

