<footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>CopyRight Infratop.inc</p>
    		<li>
        <%= link_to "管理者の方はこちら", "/admin/sign_in" %> ｜
        </li>
    	</div>
    </div>
  </div>
</footer>

